@use "@carbon/react/scss/themes" as *;

//overriding theme tokens and adding a custom token
@use "@carbon/react/scss/theme" with (
  $theme: (
    background: #292929,
    text-primary: #ffffff
  )
);

// override a component token
@use "@carbon/react/scss/components/button/tokens" as button-tokens with (
  $button-primary: #00b4ff,
  $button-primary-hover: #00b4ff,
  $button-primary-active: #798490
);
@use "@carbon/react";

:root {
  @include theme.theme();
}

body {
  background: theme.$background;
  color: theme.$text-primary;
  overflow: hidden; /* Hide scrollbars */
}

.cds--btn--primary:hover {
  border: 2px solid theme.$text-on-color !important;
}