@use "@carbon/react/scss/themes" as *;

//overriding theme tokens and adding a custom token
@use "@carbon/react/scss/theme" with (
  $theme: (
    // add a completely new token
    background: yellow,
    // redefine existing tokens to new values
    text-error: rebeccapurple,
    focus: pink,
  )
);

// override a component token
@use "@carbon/react/scss/components/button/tokens" as button-tokens with (
  $button-primary: #00b4ff,
  $button-primary-hover: #00b4ff,
  $button-primary-active: #798490
);
@use "@carbon/react";

:root {
  @include theme.theme();
}

body {
  background: theme.$background;
  color: theme.$text-primary;
}

.cds--btn--primary:hover {
  border: 2px solid theme.$text-on-color !important;
}