/* scrollbar */
::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-thumb {
	/* -webkit-border-radius: 1ex; */
}
::-webkit-scrollbar-corner {
	background: #000;
}

/* global classes */
.center {
	display: flex;
	justify-content: center;
}
.warning-card {
	margin-top: -20px !important;
}

/* carbon overrides */
.bx--side-nav__item.bx--side-nav__item--icon a.bx--side-nav__link {
	margin-left: -55px;
}

/* line at documentation dropdown */
.bx--header__submenu::before {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 0.0625rem;
	height: 1.5rem;
	background-color: #393939;
	content: '';
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

/* themed sidenav */
.bx--side-nav {
	background-color: var(--cds-field) !important;
}
.bx--side-nav__submenu {
	color: var(--cds-text-01) !important;
}
.bx--side-nav__icon > svg {
	fill: var(--cds-text-01) !important;
}
a.bx--side-nav__link > .bx--side-nav__link-text,
.bx--side-nav a.bx--header__menu-item .bx--text-truncate-end {
	color: var(--cds-text-02) !important;
}

.bx--side-nav__item:not(.bx--side-nav__item--active):hover
	.bx--side-nav__item:not(.bx--side-nav__item--active)
	> .bx--side-nav__submenu:hover,
.bx--side-nav__item:not(.bx--side-nav__item--active) > .bx--side-nav__link:hover,
.bx--side-nav__menu
	a.bx--side-nav__link:not(.bx--side-nav__link--current):not([aria-current='page']):hover,
.bx--side-nav a.bx--header__menu-item:hover,
.bx--side-nav .bx--header__menu-title[aria-expanded='true']:hover {
	background-color: var(--cds-layer-hover) !important;
	color: var(--cds-text-01) !important;
}

.bx--side-nav__submenu:hover {
	background-color: var(--cds-layer-hover) !important;
	color: var(--cds-text-01) !important;
}