:host {
  --primaryColor: #00b4ffff;
  --fontSizeDefault: calc(var(--screenHeight) * 24px / 1080);
  --backgroundColorPanel: #00000033;
  --textColor: #ffffffff;
  --fontSizeParagraph: calc(var(--screenHeight) * 18px / 1080);
  --fontSizeMedium: calc(var(--screenHeight) * 30px / 1080);
  --textErrorColor: #ff2704ff;
  --fontSizeBig: calc(var(--screenHeight) * 36px / 1080);
  --backgroundColorContrastedPanel: #ffffff38;
  --fontSizeXXL: calc(var(--screenHeight) * 48px / 1080);
  --baseMargin: calc(var(--screenHeight) * 12px / 1080);
  --halfMargin: calc(var(--screenHeight) * 6px / 1080);
  --quartMargin: calc(var(--screenHeight) * 3px / 1080);
  --backgroundColorInput: #3f4751ff;
  --backgroundColorComponent: #0000001a;
  --backgroundColorDarkerPanel: #00000059;
  --dividerColor: #ffffff4c;
  --backgroundColorContrastedPanelLight: #ffffff1a;
  --backgroundColorPopUpLayer2: #34393fff;
}

html {
  height: 100%;
  border: 2px #ffffff4c solid !important;
}

a.bx--header__name, a.bx--header__name:hover {
  margin-bottom: -2px;
}

/* header overrides */
.bx--header {
  border-bottom: 2px solid #ffffff4c !important;
  background-color: #00000033 !important;
  border-bottom-style: outset !important;
  background-color: transparent !important;
}
.bx--header__action:active, a.bx--header__menu-item:active {
  background-color: transparent !important;
}

/* btn overrides */
.bx--btn--primary:hover {
  background-color: var(--cds-interactive-01, #0f62fe) !important;
  border-color: var(--cds-focus, #0f62fe) !important;
  box-shadow: inset 0 0 0 2px var(--cds-focus, #0f62fe),inset 0 0 0 2px var(--cds-ui-background, #ffffff) !important;
}

.bx--btn--primary:active {
  color: var(--cds-interactive-01, #0f62fe) !important;
  background-color: white !important;
}

.bx--btn--primary:focus {
  box-shadow: inset 0 0 0 2px var(--cds-focus, #0f62fe),inset 0 0 0 2px var(--cds-ui-background, #ffffff) !important;
}